.inicio-container {
    background-image: url('./images/tumblr_e8681ee0c07868765f6c9110cf9c34d0_b2bb5870_1280.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  