.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(40, 44, 52, 0.8);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div.modal-header {
  background-color: #ce9aab !important;
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tituloPagina {
  font-size: 2rem;
  font-weight: 700;
  color: #6e4760;
  border-bottom: 2px solid #ac357a;
  padding-bottom: 0.2em;
  margin-bottom: 1em;
  background-color: #fcf7fb;
  padding: 0.5em;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  background-color: rgb(8, 3, 0);
  margin: 0; /* Elimina el margen por defecto */
  padding: 0; /* Elimina el padding por defecto */
  
}

.divBody {
  background-color: #ce9aab;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 75vh;
  padding: 0px;
}
/* pie de la pagina */
footer {
  padding: 1rem;
}
.navbar-brand {
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
}
/* todos los formularios */
form {
  background-color: rgba(241, 243, 247, 0.8);
  border-radius: 0.5rem;
  border-style: solid;
  border-color: rgb(158, 151, 151);
  border-width: thin;
  margin: 0em 0.5rem 1rem 0.5rem;
  padding: 0.5rem;
  box-shadow: 0.62rem 0.62rem 0.31rem rgb(154, 153, 154);
  
}

table {
  background-color: rgba(241, 243, 247, 0.8);
  border-radius: 0.5rem;
  border-style: solid;
  border-color: lightgrey;
  border-width: thin;
  margin: 0 auto; /* Add this line to center the table */
  margin-top: 1%;
  padding: 0.5rem;
  box-shadow: 0.62rem 0.62rem 0.31rem rgb(173, 144, 165);
  opacity: 0.8;
  max-width: 90%;
}

.btn.btn-primary.float-end {
  background-color: #6e4760;
  border-color: #ce9aab;
  color: white; 
  border: #495057;
  /* Add this line to change the text color */
  margin-right: 6em; /* Add this line to separate the buttons */
  margin-top: 2%;
  margin-bottom: 2%;
}

tbody {
  background-color: rgba(241, 243, 247, 0.5);
}

/* espacio en los botones contenidos en un div con esta clase */
.botones button {
  margin: 0em 0.5em 0.5em 0em;
}

/* todos los labels menos los de los radio y check */
label:not([class^='custom-control']) {
  background-color: #d7dfe7;
  border-radius: 0.625em 0.2em 0rem 0.625em;
  border-bottom: solid;
  margin-right: -0.9em; /* para que columna label este cerca del input*/
  padding-left: 0.5em;
  display: block;
  height: 90%;
}

/*<=576*/
@media only screen and (max-width: 575px) {
  label:not([class^='custom-control']) {
    margin-right: 0em;
    margin-top: 0.3rem; /* para separar grupo label/input */
  }
}


.btn.btn-primary {
  background-color: #6e4760;
  border-color: #ce9aab;
  color: white; 
  border: #495057;
  /* Add this line to change the text color */
}

.btn.btn-primary:hover {
  background-color: #9e7583; /* Add this line to change the background color on hover */
}

.btn.btn-sm.btn-outline-primary {
  background-color: #6e4760;
  border-color: #ce9aab;
  color: white; 
  border: #495057;
  /* Add this line to change the text color */
  margin-right: 0.5em; /* Add this line to separate the buttons */
}

.btn.btn-sm.btn-outline-primary:hover {
  background-color: #9e7583; /* Add this line to change the background color on hover */
}

.btn.btn-primary:active {
  background-color: #6e4760; /* Cambia el color de fondo cuando se hace clic */
}

.btn.btn-warning {
  background-color: #9e7583;
  border-color: #ce9aab;
  color: white; 
  border: #495057;
  /* Add this line to change the text color */

}

.btn.btn-warning:hover {
  background-color: #6e4760; 
  color: white;/* Add this line to change the background color on hover */
}

.btn.btn.btn-warning:active {
  background-color: #6e4760; /* Cambia el color de fondo cuando se hace clic */
}

/*>=576*/
@media only screen and (min-width: 576px) {
  .inputMedio {
    width: 12em;
  }
  .inputChico {
    width: 7em;
  }
}



.pyBadge {
  background-color: #6c757d;
  color: white;
  /* font-size: 1.1em; */
  display: inline-block;
  padding: 0.35em 0.4em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  margin-left: 6em; /* Add this line to separate the buttons */
  margin-top: 2%;
  margin-bottom: 2%;
  ;
}

/* mensajes de validacion */
.validacion {
  color: red;
  font-size: 0.8em;
  font-style: italic;
  padding-left: 1em;
  padding-bottom: 0.5em;
}

/* mensajes de alerta al buscar y grabar */
.mensajesAlert {
  color: #495057; 
  margin: 0rem 0.5rem 0rem 0.5rem;
}

/* todos los input a mayusculas, y no sus placeholders*/
::placeholder {
  text-transform: none;
}

/* encabezados de tablas */
thead {
  /* bootstrap thead-light*/
  color: #495057;
  background-color: transparent; /* Make it transparent */
  border-color: #dee2e6;
}

/* redes al pie de pagina */
.redes {
  background-color: blue;
  color: white;
  padding: 0.4em;
  margin: 0.3em;
  border-radius: 1em;
}


.modal-body {
  font-size: 1.2em;
  padding: 20px; 
}


.modal-body .progress {
  margin-bottom: 20px; 
}

.modal-body p {
  margin-bottom: 0; 
}


.modal-body i {
  margin-right: 10px; 
}

.modal-footer {
  justify-content: flex-end; 
  padding: 15px 20px; 
}


.modal-footer .btn-primary {
  background-color: #007bff;
  border-color: #007bff; 
  color: #fff; 
}


.modal-footer .btn-secondary {
  background-color: #6c757d; 
  border-color: #6c757d; 
  color: #fff; 
}


.btn.btn-secondary {
  background-color: #9e7583; 
  border-color: #9e7583; 
  color: #fff; 
}

.btn.btn-secondary:hover {
  background-color: #6e4760; 
  color: white;/* Add this line to change the background color on hover */
}

.btn.btn.btn-secondary:active {
  background-color: #6e4760; /* Cambia el color de fondo cuando se hace clic */
}

.modal-footer .btn {
  margin-left: 10px;
}